<%= turbo_frame_tag credit do %>
  <div class="credit">
    <div>
      <%= credit.dealer&.name || "Other (see notes)" %>
    </div>
    <div>
      $<%= number_with_precision(credit.amount, precision: 2,  strip_insignificant_zeros: true) %>
    </div>
    <div>
      <%= credit.reference_number %>
    </div>
    <div>
      <%= credit.expires_at || "never" %>
    </div>
    <div>
      <%= credit.notes %>
    </div>
    <div>
      <% if credit.redeemed? %>
        <%= link_to "Unredeem", unredeem_credit_path(credit), data: {turbo_method: :patch} %>
      <% else %>
        <%= link_to "Redeem", redeem_credit_path(credit), data: {turbo_method: :patch} %>
      <% end %>
      <%= link_to "Edit", edit_credit_path(credit) %>
      <%= link_to "Delete", credit_path(credit), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
    </div>
  </div>
<% end %>
