<%= turbo_frame_tag credit do %>
  <div class="<%= credit.redeemed? ? 'credit redeemed' : 'credit' %>">
    <div>
      <%= credit.dealer&.name || "Other (see notes)" %>
    </div>
    <div>
      $<%= number_with_precision(credit.amount, precision: 2,  strip_insignificant_zeros: true) %>
    </div>
    <div>
      <%= credit.reference_number %>
    </div>
    <div>
      <%= credit.expires_at || "never" %>
    </div>
    <div>
      <%= credit.notes %>
    </div>
    <div>
      <% if credit.redeemed? %>
        <%= link_to "Unredeem", toggle_credit_path(credit, with_redeemed: params[:with_redeemed]), data: {turbo_method: :patch} %>
      <% else %>
        <%= link_to "Redeem", toggle_credit_path(credit, with_redeemed: params[:with_redeemed]), data: {turbo_method: :patch} %>
        <%= link_to "Edit", edit_credit_path(credit) %>
        <%= link_to "Delete", credit_path(credit), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
      <% end %>
    </div>
  </div>
<% end %>
