<%= form_with(model: credit) do |f| %>
  <div>
    <%= f.label :dealer %>
    <%= f.select :dealer_id,
      options_from_collection_for_select(@dealers, "id", "name", credit.dealer_id || params[:dealer_id]),
                   {include_blank: "Dealer" },
                   {required: true} %>
  </div>

  <div>
    <%= f.label :amount %>
    <%= f.number_field :amount, step: "any",
                       value: number_with_precision(f.object.amount,precision: 2,  strip_insignificant_zeros: true),
                       placeholder: "$ or points",
                       autofocus: true,
                       required: true %>
  </div>
  <div>
    <%= f.label :expires_at %>
    <%= f.text_field :expires_at,
      data: {
        controller: "flatpickr",
        flatpickr_min_date: Time.zone.now
      } %>
  </div>
    <div>
    <%= f.label :never_expires, "Never expires?" %>
    <%= f.check_box :never_expires %>
  </div>

  <div>
    <%= f.label :notes %>
    <%= f.text_field :notes %>
  </div>

  <%= f.submit "Save" %>
  <% if !credit.new_record? %>
    <%= link_to "Cancel", @credit %>
  <% end %>
<% end %>
