<div class="search">
  <%= form_with(url: dealers_path, method: :get,
        data: {
          turbo_frame: "results",
          turbo_action: "advance",
          controller: "form",
          action: "input->form#submit"
        }) do |f| %>
    <div>
      <%= f.search_field :name, placeholder: 'Name...',
            value: params[:name] %>
    </div>
    <div>
      <%= f.select :category, @dealer_categories,
            include_blank: "All categories", selected: params[:category] %>
    </div>
    <div>
      <%= f.select :sort,
            [["By Name", "name"], ["By no. of Credits", "credits_count"]],
            include_blank: "Sort by", selected: params[:sort] %>
    </div>
  <% end %>
</div>

<%= turbo_frame_tag "results" do %>
  <div class="dealers">
    <%= render @dealers %>
  </div>
<% end %>
